openapi: 3.0.1
info:
  title: API de Robos
  description: Essa é a api de robos da extrato juridico
  version: 1.0.0
  termsOfService: https://extratojuridico.com
servers:
  - url: https://api.robos.extratojuridico.com/api/v1
    description: API de Produção
  - url: http://127.0.0.1:5000/api/v1
    description: API de Testes
tags:
  - name: ES
    description: Rotas do ES
  - name: MG
    description: Rotas do MG
  - name: RJ
    description: Rotas do RJ
  - name: SP
    description: Rotas do SP
  - name: AL
    description: Rotas do AL
  - name: BA
    description: Rotas do BA
  - name: CE
    description: Rotas do CE
  - name: MA
    description: Rotas do MA
  - name: PB
    description: Rotas do PB
  - name: PE
    description: Rotas do PE
  - name: PI
    description: Rotas do PI
  - name: RN
    description: Rotas do RN
  - name: SE
    description: Rotas do SE
paths:
  /captura/processo/sudeste/es/tj/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tre/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/projudi:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/trt/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/unificado:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ UNIFICADO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/jf/eproc:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF EPROC ES
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/projudi:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tre/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/trt/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/trt/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/projudi:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/trt/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/trt/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tre/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/jf/eproc:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF EPROC RJ
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tj/esaj:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tj/prodesp:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PRODESP SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tre/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt02/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 PJE SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt02/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 PJE SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt15/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt15/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT15 ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/jf/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/jf/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE SP
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tj/projudi:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tre/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/tebas:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/creta:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/trt/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tj/esaj:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/trt/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tj/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/trt/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tre/antigo:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO BA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tj/projudi:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI BA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tj/esaj:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ BA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/tj/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE CE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/tj/esaj:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ CE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/jf/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE CE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/jf/creta:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA CE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/jf/tebas:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS CE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/trt/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE CE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ce/tre/antigo:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO BA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ma/tj/jurisconsult:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ JURISCONSULT MA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ma/tj/pje:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE MA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ma/trt/pje:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE MA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ma/tre/antigo:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO MA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ma/tj/projudi:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI MA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/tj/antigo:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO PB
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/tj/projudi:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI PB
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/tj/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE PB
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/jf/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE PB
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/jf/creta:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA PB
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/jf/tebas:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS PB
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/trt/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE PB
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pb/tre/antigo:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO PB
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/tj/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE PE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/jf/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE PE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/trt/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE PE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/jf/tebas:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS PE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/jf/creta:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA PE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/tj/antigo:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO PE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pe/tre/antigo:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO PE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/tj/etj:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ETJ PI
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/tj/themis:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ THEMIS PI
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/tj/pje:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE PI
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/trt/pje:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE PI
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/jf/antigo:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO PI
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/pi/tre/antigo:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO PI
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/tj/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RN
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/tj/esaj:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ RN
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/jf/tebas:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS RN
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/trt/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RN
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/jf/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE RN
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/jf/creta:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA RN
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/rn/jf/projudi:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PROJUDI RN
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/jf/pje:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE SE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/jf/creta:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA SE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/tre/antigo:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO SE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/trt/pje:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE SE
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/jf/tebas:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS SE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/se/tj/antigo:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO SE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf01/antigo:
    post:
      tags:
        - '01'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF01 ANTIGO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf01/pje:
    post:
      tags:
        - '01'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF01 PJE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf03/jef:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF03 JEF
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf03/pje:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF03 PJE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf03/antigo:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF03 ANTIGO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf02/balcao:
    post:
      tags:
        - '02'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF02 BALCAO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf05/pje:
    post:
      tags:
        - '05'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF05 PJE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf05/antigo:
    post:
      tags:
        - '05'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF05 ANTIGO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/trf04/antigo:
    post:
      tags:
        - '04'
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRF04 ANTIGO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/unificado/seeu:
    post:
      tags:
        - UNIFICADO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: UNIFICADO SEEU
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/unificado/tse/pje:
    post:
      tags:
        - UNIFICADO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TSE UNIFICADO PJE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/brasil/superiores/tst/pje:
    post:
      tags:
        - SUPERIOR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TST PJE
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/tj/projudi:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI PR
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/tj/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO PR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/jf/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO PR
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/tj/pje:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE PR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/trt/pje:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE PR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/pr/tre/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO PR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/jf/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO RS
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/trt/pje:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RS
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/tre/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO RS
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/tj/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO RS
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/tj/eproc:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ EPROC RS
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/rs/tj/pje:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RS
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/sc/jf/pje:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE SC
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/sc/trt/pje:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE SC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/sc/tre/antigo:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO SC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sul/sc/tj/esaj:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ SC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ac/tj/esaj:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ AC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ac/jf/pje:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE AC
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ac/trt/pje:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE AC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ac/tre/antigo:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO AC
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ac/jf/antigo:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO AC
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/tj/tucujuris:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ TUCUJURIS AP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/jf/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE AP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/trt/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE AP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/tre/antigo:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO AP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/jf/antigo:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO AP
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ap/tj/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE AP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/am/tj/esaj:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ AM
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/am/jf/pje:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE AM
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/am/jf/antigo:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO AM
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/am/tre/antigo:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO AM
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/am/tj/projudi:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE PROJUDI AM
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/tj/pje:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE PA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/tj/projudi:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI PA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/jf/pje:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE PA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/trt/pje:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE PA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/tre/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO PA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/jf/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO PA
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/pa/tj/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO PA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/tj/pje:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/tj/projudi:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI RO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/jf/projudi:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PROJUDI RO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/trt/pje:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/jf/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO RO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/tre/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO RO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/ro/tj/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO RO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/tj/pje:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/tj/projudi:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI RR
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/tj/siscom:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ SISCOM RR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/tre/antigo:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO RR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/jf/antigo:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO RR
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/rr/trt/pje:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RR
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/tj/eproc:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ EPROC TO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/tj/projudi:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI TO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/trt/pje:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE TO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/tre/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO TO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/jf/pje:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE TO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/jf/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO TO
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/norte/to/trt/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO TO
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
components:
  securitySchemes:
    headerAutenticacao:
      type: apiKey
      in: header
      name: token
      description: Token
    Proxy:
      type: apiKey
      in: header
      name: proxy
      description: Proxy
  requestBodies:
    Processo:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              numero_processo:
                type: string
              instancia:
                type: integer
    ProcessoInstancia:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              numero_processo:
                type: string
              instancia:
                type: integer
  responses:
    '200':
      content:
        application/json:
          schema:
            properties:
              codigo_requisicao:
                type: string
              menssagem:
                type: string
              status:
                type: string
          examples:
            EJ1:
              value:
                status: sucesso
                codigo_requisicao: ej1
                processo:
                  andamentos:
                    - corpo: Juntada a petição de Manifestação (Reclamante.)
                      data: '2020-05-15T12:33:27.52'
                      descricao: null
                      documento: false
                    - corpo: Arquivados os autos definitivamente
                      data: '2019-07-23T13:14:44.321'
                      descricao: null
                      documento: false
                    - corpo: Expedido(a) Ofício a(o) destinatário
                      data: '2019-07-10T15:22:10.236'
                      descricao: null
                      documento: false
                  ano: '2016'
                  area: null
                  assunto: Rescisão Indireta
                  classe: ATOrd
                  colegiado: null
                  comarca: null
                  data_distribuicao: '2016-09-30T15:55:24.493'
                  estado: sc
                  expedientes:
                    - data_ciencia: '2019-08-09T00:00:00'
                      data_criacao: '2019-07-10T00:00:00'
                      destinatario: M. L.
                      fechado: true
                      meio: Correios
                      tipo: Ofício
                    - data_ciencia: '2019-08-09T00:00:00'
                      data_criacao: '2019-07-10T00:00:00'
                      destinatario: M. R. S. F.
                      fechado: true
                      meio: Correios
                      tipo: Ofício
                    - data_ciencia: '2019-07-02T00:00:00'
                      data_criacao: '2019-06-28T00:00:00'
                      destinatario: M. L.
                      fechado: true
                      meio: Diário Eletrônico
                      tipo: Notificação
                  foro: null
                  instancia: '1'
                  juiz: null
                  natureza: null
                  numero: 0001459-20.2016.5.12.0001
                  numero_antigo: null
                  orgao: null
                  orgao_julgador: null
                  outros_assuntos:
                    - Indenização por Dano Moral
                  partes:
                    - advogados:
                        - categoria: ADVOGADO
                          cpf_cnpj: 023.130.459-51
                          nome: FABIO LOPES DE LIMA
                          oab: null
                      categoria: RECLAMANTE
                      cpf_cnpj: null
                      nome: 'MARCIA REGINA SOUZA DE FREITAS '
                      polo: ATIVO
                    - advogados:
                        - categoria: ADVOGADO
                          cpf_cnpj: 772.243.969-15
                          nome: SAMUEL CARLOS LIMA
                          oab: null
                        - categoria: ADVOGADO
                          cpf_cnpj: 175.381.638-67
                          nome: LUIZ ALEXANDRE LIPORONI MARTINS
                          oab: null
                      categoria: RECLAMADO
                      cpf_cnpj: null
                      nome: 'MAGAZINE LUIZA '
                      polo: PASSIVO
                  relator: null
                  setor_justica: trabalhista
                  sistema: PJE
                  tribunal: trt12
                  valor: '75000.0'
                  vara: 1ª VARA DO TRABALHO DE FLORIANÓPOLIS
            EJ2:
              value:
                codigo_requisicao: ej2
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Não encontrado</span></body></html>
                menssagem: processo não Encontrado no sistema judicial
                status: erro
            EJ3:
              value:
                codigo_requisicao: ej3
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Sistema indisponivel</span></body></html>
                menssagem: erro ao acessar o sistema judicial
                status: erro
            EJ4:
              value:
                codigo_requisicao: ej4
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Captcha Incorreto</span></body></html>
                menssagem: resposta do captcha errada
                status: erro
            EJ5:
              value:
                codigo_requisicao: ej5
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Erro</span></body></html>
                menssagem: o robo não conseguiu extrair os dados de forma correta, acione o suporte
                status: erro
            EJ6:
              value:
                codigo_requisicao: ej6
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Erro</span></body></html>
                menssagem: erro ao realizar consulta proceussual
                status: erro
            EJ10:
              value:
                codigo_requisicao: ej10
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>403 Forbiden</span></body></html>
                menssagem: proxy utilizado para consulta retornando erro
                status: erro
            EJ13:
              value:
                codigo_requisicao: ej13
                menssagem: para realizar a requisição é necessario enviar um proxy via headers
                status: erro
            EJ14:
              value:
                codigo_requisicao: ej14
                menssagem: para realizar a requisição é necessario enviar um proxy no formato https://(seu proxy) ou http://(seu proxy)
                status: erro
            EJ15:
              value:
                codigo_requisicao: ej15
                menssagem: é necessário informar um número de processo
                status: erro
            EJ16:
              value:
                codigo_requisicao: ej16
                menssagem: numero sem formatação cnj
                status: erro
            EJ17:
              value:
                codigo_requisicao: ej17
                menssagem: Informe todos os campos necessários para pesquisa
                status: erro
            EJ18:
              value:
                codigo_requisicao: ej18
                menssagem: Instancia incorreta
                status: erro
            EJ19:
              value:
                codigo_requisicao: ej19
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Segredo de Justiça</span></body></html>
                menssagem: processo se encontra em segredo de justiça
                status: erro
      description: Requisição recebida com sucesso
    '403':
      content:
        application/json:
          examples:
            EJ11:
              value:
                codigo_requisicao: ej11
                menssagem: erro de segurança
                status: erro
            EJ12:
              value:
                codigo_requisicao: ej12
                menssagem: token não pertence a nenhum usuario cadastrado
                status: erro
      description: Erros relacionados a segurança
    '404':
      content:
        application/json:
          schema:
            properties:
              ej1:
                type: object
                properties:
                  codigo_requisicao:
                    type: string
                  menssagem:
                    type: string
                  status:
                    type: string
              ej2:
                type: object
                properties:
                  codigo_requisicao:
                    type: string
                  menssagem:
                    type: string
                  status:
                    type: string

          examples:
            EJ7:
              value:
                codigo_requisicao: ej7
                menssagem: url não encontrada
                status: erro
      description: NotFound
    '408':
      content:
        application/json:
          examples:
            EJ9:
              value:
                codigo_requisicao: ej9
                menssagem: tempo para de requisição excedido
                status: erro
      description: Rever descricao desse erro
