openapi: 3.0.1
info:
  title: API de Robos
  description: Essa é a api de robos da extrato juridico
  version: 1.0.0
  termsOfService: https://extratojuridico.com
servers:
  - url: https://api.robos.extratojuridico.com/api/v1
    description: API de Produção
  - url: http://127.0.0.1:5000/api/v1
    description: API de Testes
tags:
  - name: ES
    description: Rotas do ES
  - name: MG
    description: Rotas do MG
  - name: RJ
    description: Rotas do RJ
  - name: SP
    description: Rotas do SP
  - name: AL
    description: Rotas do AL
  - name: BA
    description: Rotas do BA
paths:
  /captura/processo/sudeste/es/tj/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tre/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/projudi:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/trt/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/tj/unificado:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ UNIFICADO ES
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/es/jf/eproc:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF EPROC ES
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tj/projudi:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/tre/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/trt/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/mg/trt/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE MG
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ANTIGO RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/projudi:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tj/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/trt/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/trt/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/tre/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE RJ
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/rj/jf/eproc:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF EPROC RJ
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tj/esaj:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tj/prodesp:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PRODESP SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tre/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE PJE SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/tre/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt02/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 PJE SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt02/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 PJE SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt15/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT02 ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/trt15/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT15 ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/jf/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF ANTIGO SP
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/sudeste/sp/jf/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE SP
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF PJE AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tj/projudi:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tre/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/tebas:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF TEBAS AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/jf/creta:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: JF CRETA AL
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/trt/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/tj/esaj:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ ESAJ AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/al/trt/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT ANTIGO AL
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tj/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PJE BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/trt/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRT PJE BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tre/antigo:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TRE ANTIGO BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
  /captura/processo/nordeste/ba/tj/projudi:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
        - Proxy: []
      summary: TJ PROJUDI BA
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
components:
  securitySchemes:
    headerAutenticacao:
      type: apiKey
      in: header
      name: token
      description: Token
    Proxy:
      type: apiKey
      in: header
      name: proxy
      description: Proxy
  requestBodies:
    Processo:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              numero_processo:
                type: string
              instancia:
                type: integer
    ProcessoInstancia:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              numero_processo:
                type: string
              instancia:
                type: integer
  responses:
    '200':
      content:
        application/json:
          examples:
            EJ1:
              value:
                status: sucesso
                codigo_requisicao: ej1
                processo:
                  andamentos:
                    - corpo: Juntada a petição de Manifestação (Reclamante.)
                      data: '2020-05-15T12:33:27.52'
                      descricao: null
                      documento: false
                    - corpo: Arquivados os autos definitivamente
                      data: '2019-07-23T13:14:44.321'
                      descricao: null
                      documento: false
                    - corpo: Expedido(a) Ofício a(o) destinatário
                      data: '2019-07-10T15:22:10.236'
                      descricao: null
                      documento: false
                  ano: '2016'
                  area: null
                  assunto: Rescisão Indireta
                  classe: ATOrd
                  colegiado: null
                  comarca: null
                  data_distribuicao: '2016-09-30T15:55:24.493'
                  estado: sc
                  expedientes:
                    - data_ciencia: '2019-08-09T00:00:00'
                      data_criacao: '2019-07-10T00:00:00'
                      destinatario: M. L.
                      fechado: true
                      meio: Correios
                      tipo: Ofício
                    - data_ciencia: '2019-08-09T00:00:00'
                      data_criacao: '2019-07-10T00:00:00'
                      destinatario: M. R. S. F.
                      fechado: true
                      meio: Correios
                      tipo: Ofício
                    - data_ciencia: '2019-07-02T00:00:00'
                      data_criacao: '2019-06-28T00:00:00'
                      destinatario: M. L.
                      fechado: true
                      meio: Diário Eletrônico
                      tipo: Notificação
                  foro: null
                  instancia: '1'
                  juiz: null
                  natureza: null
                  numero: 0001459-20.2016.5.12.0001
                  numero_antigo: null
                  orgao: null
                  orgao_julgador: null
                  outros_assuntos:
                    - Indenização por Dano Moral
                  partes:
                    - advogados:
                        - categoria: ADVOGADO
                          cpf_cnpj: 023.130.459-51
                          nome: FABIO LOPES DE LIMA
                          oab: null
                      categoria: RECLAMANTE
                      cpf_cnpj: null
                      nome: 'MARCIA REGINA SOUZA DE FREITAS '
                      polo: ATIVO
                    - advogados:
                        - categoria: ADVOGADO
                          cpf_cnpj: 772.243.969-15
                          nome: SAMUEL CARLOS LIMA
                          oab: null
                        - categoria: ADVOGADO
                          cpf_cnpj: 175.381.638-67
                          nome: LUIZ ALEXANDRE LIPORONI MARTINS
                          oab: null
                      categoria: RECLAMADO
                      cpf_cnpj: null
                      nome: 'MAGAZINE LUIZA '
                      polo: PASSIVO
                  relator: null
                  setor_justica: trabalhista
                  sistema: PJE
                  tribunal: trt12
                  valor: '75000.0'
                  vara: 1ª VARA DO TRABALHO DE FLORIANÓPOLIS
            EJ2:
              value:
                codigo_requisicao: ej2
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Não encontrado</span></body></html>
                menssagem: processo não Encontrado no sistema judicial
                status: erro
            EJ3:
              value:
                codigo_requisicao: ej3
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Sistema indisponivel</span></body></html>
                menssagem: erro ao acessar o sistema judicial
                status: erro
            EJ4:
              value:
                codigo_requisicao: ej4
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Captcha Incorreto</span></body></html>
                menssagem: resposta do captcha errada
                status: erro
            EJ5:
              value:
                codigo_requisicao: ej5
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Erro</span></body></html>
                menssagem: o robo não conseguiu extrair os dados de forma correta, acione o suporte
                status: erro
            EJ6:
              value:
                codigo_requisicao: ej6
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Erro</span></body></html>
                menssagem: erro ao realizar consulta proceussual
                status: erro
            EJ10:
              value:
                codigo_requisicao: ej10
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>403 Forbiden</span></body></html>
                menssagem: proxy utilizado para consulta retornando erro
                status: erro
            EJ13:
              value:
                codigo_requisicao: ej13
                menssagem: para realizar a requisição é necessario enviar um proxy via headers
                status: erro
            EJ14:
              value:
                codigo_requisicao: ej14
                menssagem: para realizar a requisição é necessario enviar um proxy no formato https://(seu proxy) ou http://(seu proxy)
                status: erro
            EJ15:
              value:
                codigo_requisicao: ej15
                menssagem: é necessário informar um número de processo
                status: erro
            EJ16:
              value:
                codigo_requisicao: ej16
                menssagem: numero sem formatação cnj
                status: erro
            EJ17:
              value:
                codigo_requisicao: ej17
                menssagem: Informe todos os campos necessários para pesquisa
                status: erro
            EJ18:
              value:
                codigo_requisicao: ej18
                menssagem: Instancia incorreta
                status: erro
            EJ19:
              value:
                codigo_requisicao: ej19
                data_requisicao: Wed, 16 Feb 2022 09:51:27 GMT
                headers_retorno_tribunal:
                  Accept: '*/*'
                  Content-Type: application/x-www-form-urlencoded; charset=UTF-8
                  Cookie: JSESSIONID=gBhJxUjPosbCWJ7mQ96lBwyd-pdfOGClNEdaC2qW.srv-corp-193-061;
                  Host: sistemas.exemplo.br
                  Origin: sistemas.exemplo.br
                  User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36
                html_retorno_tribunal: <!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exemplo</title></head><body><span>Segredo de Justiça</span></body></html>
                menssagem: processo se encontra em segredo de justiça
                status: erro
      description: Requisição recebida com sucesso
    '403':
      content:
        application/json:
          examples:
            EJ11:
              value:
                codigo_requisicao: ej11
                menssagem: erro de segurança
                status: erro
            EJ12:
              value:
                codigo_requisicao: ej12
                menssagem: token não pertence a nenhum usuario cadastrado
                status: erro
      description: Erros relacionados a segurança
    '404':
      content:
        application/json:
          examples:
            EJ7:
              value:
                codigo_requisicao: ej7
                menssagem: url não encontrada
                status: erro
      description: NotFound
    '408':
      content:
        application/json:
          examples:
            EJ9:
              value:
                codigo_requisicao: ej9
                menssagem: tempo para de requisição excedido
                status: erro
      description: Rever descricao desse erro
