openapi: 3.0.1
info:
  title: API de Robos
  description: Essa é a api de robos da extrato juridico
  version: 1.0.0
  termsOfService: https://extratojuridico.com
servers:
  - url: https://api.robos.extratojuridico.com/api/v1
    description: API de Produção
tags:
  - name: ES
    description: Rotas do ES
  - name: MG
    description: Rotas do MG
  - name: RJ
    description: Rotas do RJ
  - name: SP
    description: Rotas do SP
  - name: AL
    description: Rotas do AL
  - name: BA
    description: Rotas do BA
  - name: CE
    description: Rotas do CE
  - name: MA
    description: Rotas do MA
  - name: PB
    description: Rotas do PB
  - name: PE
    description: Rotas do PE
  - name: PI
    description: Rotas do PI
  - name: RN
    description: Rotas do RN
  - name: SE
    description: Rotas do SE
paths:
  /captura/processo/sudeste/es/tj/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TJ PJE ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/tj/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/tre/antigo:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/tj/projudi:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/trt/pje:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TRT PJE ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/tj/unificado:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: TJ UNIFICADO ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/es/jf/eproc:
    post:
      tags:
        - ES
      security:
        - headerAutenticacao: []
      summary: JF EPROC ES
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/tj/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TJ PJE MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/tj/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/tj/projudi:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/tre/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/trt/antigo:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TRT ANTIGO MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/mg/trt/pje:
    post:
      tags:
        - MG
      security:
        - headerAutenticacao: []
      summary: TRT PJE MG
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/rj/tj/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/rj/tj/projudi:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/rj/tj/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TJ PJE RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sudeste/rj/trt/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TRT ANTIGO RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/rj/trt/pje:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TRT PJE RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/rj/tre/antigo:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: TRT PJE RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/rj/jf/eproc:
    post:
      tags:
        - RJ
      security:
        - headerAutenticacao: []
      summary: JF EPROC RJ
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/tj/esaj:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/tj/prodesp:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TJ PRODESP SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/tre/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/trt02/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TRT02 PJE SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/trt02/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TRT02 PJE SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/trt15/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TRT02 ANTIGO SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/trt15/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: TRT15 ANTIGO SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/jf/antigo:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/sudeste/sp/jf/pje:
    post:
      tags:
        - SP
      security:
        - headerAutenticacao: []
      summary: JF PJE SP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/jf/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: JF PJE AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/tj/projudi:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/tre/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/jf/tebas:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: JF TEBAS AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/jf/creta:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: JF CRETA AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/trt/pje:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: TRT PJE AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/tj/esaj:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/al/trt/antigo:
    post:
      tags:
        - AL
      security:
        - headerAutenticacao: []
      summary: TRT ANTIGO AL
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/ba/tj/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
      summary: TJ PJE BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/ba/trt/pje:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
      summary: TRT PJE BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
        
  /captura/processo/nordeste/ba/tre/antigo:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ba/tj/projudi:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ba/tj/esaj:
    post:
      tags:
        - BA
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/tj/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: TJ PJE CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/tj/esaj:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/jf/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: JF PJE CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/jf/creta:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: JF CRETA CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/jf/tebas:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: JF TEBAS CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/trt/pje:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: TRT PJE CE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ce/tre/antigo:
    post:
      tags:
        - CE
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO BA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ma/tj/jurisconsult:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
      summary: TJ JURISCONSULT MA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ma/tj/pje:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
      summary: TJ PJE MA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ma/trt/pje:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
      summary: TRT PJE MA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ma/tre/antigo:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO MA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/ma/tj/projudi:
    post:
      tags:
        - MA
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI MA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/tj/antigo:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/tj/projudi:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/tj/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: TJ PJE PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/jf/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: JF PJE PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/jf/creta:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: JF CRETA PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/jf/tebas:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: JF TEBAS PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/trt/pje:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: TRT PJE PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pb/tre/antigo:
    post:
      tags:
        - PB
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO PB
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/tj/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: TJ PJE PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/jf/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: JF PJE PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/trt/pje:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: TRT PJE PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/jf/tebas:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: JF TEBAS PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/jf/creta:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: JF CRETA PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/tj/antigo:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pe/tre/antigo:
    post:
      tags:
        - PE
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO PE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/tj/etj:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: TJ ETJ PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/tj/themis:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: TJ THEMIS PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/tj/pje:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: TJ PJE PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/trt/pje:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: TRT PJE PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/jf/antigo:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/pi/tre/antigo:
    post:
      tags:
        - PI
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO PI
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/tj/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: TJ PJE RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/tj/esaj:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/jf/tebas:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: JF TEBAS RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/trt/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: TRT PJE RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/jf/pje:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: JF PJE RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/jf/creta:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: JF CRETA RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/rn/tj/projudi:
    post:
      tags:
        - RN
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI RN
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/jf/pje:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: JF PJE SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/jf/creta:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: JF CRETA SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/tre/antigo:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/trt/pje:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: TRT PJE SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/jf/tebas:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: JF TEBAS SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/nordeste/se/tj/antigo:
    post:
      tags:
        - SE
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO SE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf1/antigo:
    post:
      tags:
        - '01'
      security:
        - headerAutenticacao: []
      summary: TRF1 ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf1/pje:
    post:
      tags:
        - '01'
      security:
        - headerAutenticacao: []
      summary: TRF1 PJE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf03/jef:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
      summary: TRF03 JEF
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf03/pje:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
      summary: TRF03 PJE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf03/antigo:
    post:
      tags:
        - '03'
      security:
        - headerAutenticacao: []
      summary: TRF03 ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf02/balcao:
    post:
      tags:
        - '02'
      security:
        - headerAutenticacao: []
      summary: TRF02 BALCAO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf05/pje:
    post:
      tags:
        - '05'
      security:
        - headerAutenticacao: []
      summary: TRF05 PJE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf05/antigo:
    post:
      tags:
        - '05'
      security:
        - headerAutenticacao: []
      summary: TRF05 ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/trf04/antigo:
    post:
      tags:
        - '04'
      security:
        - headerAutenticacao: []
      summary: TRF04 ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/unificado/seeu:
    post:
      tags:
        - UNIFICADO
      security:
        - headerAutenticacao: []
      summary: UNIFICADO SEEU
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/unificado/tse/pje:
    post:
      tags:
        - UNIFICADO
      security:
        - headerAutenticacao: []
      summary: TSE UNIFICADO PJE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/superiores/tst/pje:
    post:
      tags:
        - SUPERIOR
      security:
        - headerAutenticacao: []
      summary: TST PJE
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/superiores/tst/antigo:
    post:
      tags:
        - SUPERIOR
      security:
        - headerAutenticacao: []
      summary: TST ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/superiores/stj/antigo:
    post:
      tags:
        - SUPERIOR
      security:
        - headerAutenticacao: []
      summary: STJ ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/brasil/superiores/stf/antigo:
    post:
      tags:
        - SUPERIOR
      security:
        - headerAutenticacao: []
      summary: STF ANTIGO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/tj/projudi:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/tj/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/jf/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/tj/pje:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: TJ PJE PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/trt/pje:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: TRT PJE PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/pr/tre/antigo:
    post:
      tags:
        - PR
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO PR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/jf/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/trt/pje:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: TRT PJE RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/tre/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/tj/antigo:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/tj/eproc:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: TJ EPROC RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/rs/tj/pje:
    post:
      tags:
        - RS
      security:
        - headerAutenticacao: []
      summary: TJ PJE RS
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/sc/jf/pje:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
      summary: JF PJE SC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/sc/jf/antigo:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO SC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/sc/trt/pje:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
      summary: TRT PJE SC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/sc/tre/antigo:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO SC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/sul/sc/tj/esaj:
    post:
      tags:
        - SC
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ SC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ac/tj/esaj:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ AC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ac/jf/pje:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
      summary: JF PJE AC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ac/trt/pje:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
      summary: TRT PJE AC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ac/tre/antigo:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO AC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ac/jf/antigo:
    post:
      tags:
        - AC
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO AC
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/tj/tucujuris:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: TJ TUCUJURIS AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/jf/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: JF PJE AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/trt/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: TRT PJE AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/tre/antigo:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/jf/antigo:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ap/tj/pje:
    post:
      tags:
        - AP
      security:
        - headerAutenticacao: []
      summary: TJ PJE AP
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/am/tj/esaj:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
      summary: TJ ESAJ AM
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/am/jf/pje:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
      summary: JF PJE AM
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/am/jf/antigo:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO AM
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/am/tre/antigo:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO AM
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/am/tj/projudi:
    post:
      tags:
        - AM
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI AM
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  #/captura/processo/norte/pa/tj/pje:
  #  post:
  #    tags:
  #      - PA
  #    security:
  #      - headerAutenticacao: []
  #    summary: TJ PJE PA
  #    parameters:
  #      - $ref: '#/components/parameters/Proxy'
  #    requestBody:
  #      $ref: '#/components/requestBodies/ProcessoInstancia'
  #    responses:
  #      '200':
  #        $ref: '#/components/responses/200'
  #      '403':
  #        $ref: '#/components/responses/403'
  #      '404':
  #        $ref: '#/components/responses/404'
  #      '408':
  #        $ref: '#/components/responses/408'
  #      '500':
  #        $ref: '#/components/responses/500'
  /captura/processo/norte/pa/tj/projudi:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/pa/jf/pje:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: JF PJE PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/pa/trt/pje:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: TRT PJE PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/pa/tre/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/pa/jf/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/pa/tj/antigo:
    post:
      tags:
        - PA
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO PA
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/tj/pje:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: TJ PJE RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/tj/projudi:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/trt/pje:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: TRT PJE RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/jf/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/tre/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/ro/tj/antigo:
    post:
      tags:
        - RO
      security:
        - headerAutenticacao: []
      summary: TJ ANTIGO RO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/tj/pje:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: TJ PJE RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/tj/projudi:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptcha'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/tj/siscom:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: TJ SISCOM RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/tre/antigo:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/jf/antigo:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/rr/trt/pje:
    post:
      tags:
        - RR
      security:
        - headerAutenticacao: []
      summary: TRT PJE RR
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/tj/projudi:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: TJ PROJUDI TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/trt/pje:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: TRT PJE TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/tre/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: TRE ANTIGO TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/jf/pje:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: JF PJE TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/jf/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: JF ANTIGO TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/Processo'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
  /captura/processo/norte/to/trt/antigo:
    post:
      tags:
        - TO
      security:
        - headerAutenticacao: []
      summary: TRT ANTIGO TO
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoInstancia'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '408':
          $ref: '#/components/responses/408'
        '500':
          $ref: '#/components/responses/500'
# CENTRO OESTE
  /captura/processo/centrooeste/mt/tj/pje:
    post:
      tags:
        - MT
      security:
        - headerAutenticacao: []
      summary: TJ PJE MT
      parameters:
        - $ref: '#/components/parameters/Proxy'
      requestBody:
        $ref: '#/components/requestBodies/ProcessoCaptchaInstancia'
      responses:
[...]
